<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Times</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      margin-top: 20px;
    }
    .card {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="card text-black bg-dark">
          <div class="card-header text-white">
            Time Preto
          </div>
          <ul class="list-group list-group-flush">
            <% @teams[0][:'time-preto'].each do |team| %>
              <li class="list-group-item"><%= team %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="card text-black bg-info">
          <div class="card-header text-white">
            Time Azul
          </div>
          <ul class="list-group list-group-flush">
            <% @teams[1][:'time-azul'].each do |team| %>
              <li class="list-group-item"><%= team %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
